<!DOCTYPE html>
    
    <md-content layout="vertical" flex id="content" layout-align="center center" class="login">
        <md-card>
            <md-card-title-media>
                <div class="card-media" >
                    <img  src="static/content/images/logo.PNG" alt="Stream Challenge Platform">
                </div>
            </md-card-title-media>
            <md-progress-linear md-mode="indeterminate" ng-if="progress" flex></md-progress-linear>
            <md-card-content>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="loginData.email">
                </md-input-container >
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input ng-model="loginData.password" type="password">
                </md-input-container>
                <md-input-container class="md-warn md-block">
                    <label>
                        {{message}}
                    </label>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
                <md-button class="md-raised md-primary" ng-click="goTo('/signup')">Sign up</md-button>
            </md-card-actions>
  	    <div layout="row" layout-align="center center", style="color: grey; margin-top: 10px">
                    <label>*<strong>S</strong>treaming <strong>C</strong>h<strong>AL</strong>lenge Pl<strong>A</strong>tfo<strong>R</strong>m</label>
            </div>
        </md-card>
       
    </md-content>
