kafka-python
python-dateutil
apscheduler
sqlalchemy
pymysql
Flask
Flask-SQLAlchemy
Flask-WTF
werkzeug
grpcio==1.13.0 --no-binary grpcio
grpcio-tools==1.13.0
pymongo
flask-socketio
eventlet
redis
flask_sse
pyjwt
Flask-Mail
greenlet
gevent
pause
hashids
pyspark==2.4.0
confluent-kafka
orjson
scikit-multiflow
