<!DOCTYPE html>
<md-dialog aria-label="Change password" ng-cloak flex="30">
    <form ng-submit="changePassword()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
                
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content dialog-form">

                <md-input-container class="md-block">
                    <label>Current password</label>
                    <md-icon class="md-48" md-font-set="material-icons">lock</md-icon>
                    <input ng-model="passQuery.currentPassword" ng-required="true">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>New password</label>
                    <md-icon class="md-48" md-font-set="material-icons">lock</md-icon>
                    <input name="newPasswod" pattern=".{8,}" ng-model="passQuery.newPassword" type="password" ng-required="true">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Confirm password</label>
                    <md-icon class="md-48" md-font-set="material-icons">lock</md-icon>
                    <input  ng-model="passQuery.confirmPassword" type="password" ng-required="true">
                </md-input-container>


                <md-input-container  class="md-warn md-block">
                    <label>
                        {{message}}
                    </label>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="Submit" style="margin-right:20px;">
                Apply
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>